Repository apache/auron, pull requests merged in 2025-09, with the labels that each got.

#1266 [AURON-1265] Improve PR template with title/description guidelines
  .github/pull_request_template.md
Labels: infra

#1279 fix paimon package name
  thirdparty/auron-paimon/src/main/resources/META-INF/services/org.apache.spark.sql.auron.AuronConvertProvider
  thirdparty/auron-paimon/src/main/scala/org/apache/spark/sql/hive/auron/paimon/PaimonConvertProvider.scala
  thirdparty/auron-paimon/src/main/scala/org/apache/spark/sql/hive/auron/paimon/PaimonUtil.scala
  thirdparty/auron-paimon/src/main/scala/org/apache/spark/sql/hive/execution/auron/plan/NativePaimonTableScanExec.scala
Labels: thirdparty-paimon

#1284 [AURON-1283] Make issue template cleaner by commenting out placeholder text
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: infra

#1300 [AURON-1299] Optimize the comments for the get_json_object UDF
  spark-extension/src/main/scala/org/apache/spark/sql/auron/NativeConverters.scala
Labels: spark

#1298 [AURON-1297] Add license and notice for source package release
  .github/labeler.yml
  DISCLAIMER
  LICENSE
  NOTICE
  README.md
Labels: documentation, infra

#1282 [AURON-1281][INFRA] Make workflow flexible with dynamic Spark version
  .github/workflows/celeborn.yml
  .github/workflows/tpcds-reusable.yml
  .github/workflows/tpcds.yml
  .github/workflows/uniffle.yml
Labels: infra

#1276 Add merge_auron_pr.py
  dev/merge_auron_pr.py
Labels: dev-tools

#1311 [AURON-1302] Add asf release scripts
  build/release/create-package.sh
  build/release/release.sh
Labels: build

#1317 [AURON-1316] Support trim in cast expression
  native-engine/datafusion-ext-commons/src/arrow/cast.rs
  spark-extension-shims-spark3/src/test/scala/org/apache/spark/sql/auron/NativeConvertersSuite.scala
  spark-extension/src/main/java/org/apache/spark/sql/auron/AuronConf.java
  spark-extension/src/main/scala/org/apache/spark/sql/auron/NativeConverters.scala
Labels: spark, native

#1320 fix incorrect common_prefix_len()
  native-engine/datafusion-ext-plans/src/sort_exec.rs
Labels: native

#1335 [AURON #1334] Fix hardcoded bash shebang
  auron-build.sh
Labels: build

#1338 Doc: Fix typo in release file
  RELEASES.md
Labels: documentation

#1343 [RELEASE] Bump version 7.0.0-SNAPSHOT
  .github/workflows/build-arm-releases.yml
  .github/workflows/build-ce7-releases.yml
  pom.xml
Labels: infra, build

#1353 bump spark-3.5 version to 3.5.7
  pom.xml
Labels: build

#1356 [AURON #1355] Upgrade actions/cache from v3 to v4 in `build-ce7-release.yml`
  .github/workflows/build-ce7-releases.yml
Labels: infra

#1340 [AURON-1339] Introduce AuronConfiguration
  auron-core/pom.xml
  auron-core/src/main/java/org/apache/auron/configuration/AuronConfiguration.java
  auron-core/src/main/java/org/apache/auron/configuration/ConfigOption.java
  auron-core/src/main/java/org/apache/auron/configuration/ConfigOptions.java
  auron-core/src/main/java/org/apache/auron/util/Preconditions.java
  auron-core/src/test/java/org/apache/auron/configuration/AuronConfigurationTest.java
  auron-core/src/test/java/org/apache/auron/configuration/ConfigOptionTest.java
  auron-core/src/test/java/org/apache/auron/configuration/MockAuronConfiguration.java
  pom.xml
Labels: build

#1342 [AURON #1341] Eliminate hardcoded values in the AuronSparkSessionExtension class
  spark-extension/src/main/scala/org/apache/spark/sql/auron/AuronSparkSessionExtension.scala
Labels: spark

#1359 [AURON #1358] Rename package name for hadoop-shim module
  hadoop-shim/src/main/scala/org/apache/auron/hadoop/fs/FSDataInputWrapper.scala
  hadoop-shim/src/main/scala/org/apache/auron/hadoop/fs/FSDataOutputWrapper.scala
  native-engine/auron-jni-bridge/src/jni_bridge.rs
  spark-extension/src/main/java/org/apache/spark/sql/auron/JniBridge.java
Labels: spark, native, hadoop

#1349 Remove the "Exec" suffix for physical operators
  spark-extension-shims-spark3/src/main/scala/org/apache/spark/sql/execution/auron/plan/NativeProjectExecProvider.scala
  spark-extension-shims-spark3/src/main/scala/org/apache/spark/sql/execution/joins/auron/plan/NativeShuffledHashJoinExecProvider.scala
  spark-extension-shims-spark3/src/main/scala/org/apache/spark/sql/execution/joins/auron/plan/NativeSortMergeJoinExecProvider.scala
Labels: spark

#1366 [AURON #1365] Fix artifact name formatting issue with conditional version parameters
  .github/workflows/tpcds-reusable.yml
Labels: infra

#1354 [AURON #1367] Bump Uniffle from 0.9.2 to 0.10.0
  .github/workflows/license.yml
  .github/workflows/tpcds-reusable.yml
  .github/workflows/uniffle.yml
  dev/reformat
  pom.xml
Labels: infra, build, dev-tools

#1333 [AURON-1332] Introduce JniBridge and AuronAdaptor for auron-core module
  auron-core/pom.xml
  auron-core/src/main/java/org/apache/auron/configuration/AuronConfiguration.java
  auron-core/src/main/java/org/apache/auron/jni/AuronAdaptor.java
  auron-core/src/main/java/org/apache/auron/jni/AuronCallNativeWrapper.java
  auron-core/src/main/java/org/apache/auron/jni/JniBridge.java
  auron-core/src/main/java/org/apache/auron/memory/OnHeapSpillManager.java
  auron-core/src/main/java/org/apache/auron/metric/MetricNode.java
  auron-core/src/test/java/org/apache/auron/jni/AuronAdaptorTest.java
  auron-core/src/test/java/org/apache/auron/jni/MockAuronAdaptor.java
Labels: build

#1389 [AURON #1387] Introduce auron-flink-extension module
  auron-build.sh
  auron-flink-extension/pom.xml
  auron-flink-extension/src/test/java/org/apache/auron/flink/table/AuronFlinkTableTestBase.java
  auron-flink-extension/src/test/java/org/apache/auron/flink/table/runtime/AuronFlinkCalcITCase.java
  pom.xml
Labels: build
